pkg
rdoc
Makefile

*.idea
*.bundle
*.dll
*.so
*.jar
*.class
*.o
*.log
*.def
*.pdb
*.dSYM
java/src/.project
*.rbc
Gemfile.lock

vendor/bundle/
.yardoc/*
doc/*
tmp/*

# windows local build artifacts
/win_gem_test/shared/
/win_gem_test/packages/
/win_gem_test/test_logs/
/Rakefile_wintest
*.gem
/lib/fastfilereaderext.rb
/lib/rubyeventmachine.rb
